autoscraper==1.1.12
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.4
decorator==5.0.9
idna==3.2
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.3
matplotlib-inline==0.1.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
Pygments==2.9.0
requests==2.26.0
soupsieve==2.2.1
traitlets==5.0.5
urllib3==1.26.6
wcwidth==0.2.5
